#edit-routine-container {
  background-color: black;
  color: whitesmoke;
  height: 100vh;
  width: 100%;
  padding: 5rem;
  overflow-y: scroll;
}

#edit-routine-form {
  width: 50%;
}

#delete-button {
  margin-left: 1rem;
}

#activities-list {
  display: inline-block;
  width: 50%;
  margin-right: 1rem;
}

#reps-list {
  display: inline-block;
  width: 7%;
}
