.home-container {
  background-image: url("https://www.bodybuilding.com/images/2020/january/beginners-machine-workouts-for-women-comingsoon-header.jpg");
  background-size: contain;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#title-container {
  display: inline;
  padding: 2rem;
  padding-bottom: 20rem;
}

#title {
  font-size: 3.2rem;
  font-weight: 500;
}
#tagLine {
  font-size: 1.2rem;
}
.red {
  color: #dc3545;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .home-container {
    background-image: url("https://www.bodybuilding.com/images/2020/january/beginners-machine-workouts-for-women-comingsoon-header-mobile.jpg");
    background-size: cover;
    background-color: black;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (max-width: 1024px) {
  .home-container {
    background-size: cover;
    background-color: black;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }
}
