#singleRoutine-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

#creator-line {
  font-size: 0.9rem;
}

#card-single-view {
  width: 50%;
  margin: 2rem;
  line-height: 1rem;
  overflow-y: scroll;
}

#activities p {
  font-size: 0.9rem;
}

.card-body a {
  color: #312f36;
}

#edit-routine-link {
  text-decoration: none;
  background-color: #b30f18;
  color: whitesmoke;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

#edit-routine-link:hover {
  border: none;
  background-color: #570202;
}
