#singleRoutine-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

#creator-line {
  font-size: 0.9rem;
}

#card-single-view {
  width: 50%;
  margin: 2rem;
  line-height: 1rem;
  overflow-y: scroll;
}

.bold {
  font-weight: bold;
}

#activities p {
  font-size: 0.9rem;
}

.card-body a {
  color: #312f36;
}

.italics {
  font-style: italic;
}
