#singleRoutine-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

#card-single-view {
  width: 50%;
  margin: 2rem;
}

.bold {
  font-weight: bold;
}
