#workouts-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 3rem;
}

.scroll-bar::-webkit-scrollbar {
  width: 0.6rem;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #570202;
}
.card {
  margin: 1rem;
}

#cards-workouts:hover {
  opacity: 0.3;
}
